body {
	background-color: #ffffe6;
	font-family: "Arial";
	margin: 15px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-height: calc(100vh - 100px);
}

.pane {
	border: 1px solid black;
	width: 45%;
	min-width: 150px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.pane a {
	width: calc(33%-20px);
	background-color: #ead9c7;
	margin: 10px;
	padding: 10px;
}

.pane :hover {
	background-color: #f1e4da;
}

.item-description{
	color:  #808080;
	font-style: italic;
	border: 1px solid black;
	width: 80%;
	padding: 10px;
}



.flash-message {
	background-color: LightGray;
	max-width: 400px;
	margin: 10px;
	padding: 5px;
}

a {
	color: #009933;
}

a :hover {
	color: #ff0000;
}

td {
	border: 1px solid black;
	width: 30%;
}

#input_field {
	width: 96%;
}

#login-button {
	align: right;
}