<!DOCTYPE html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>Apartment Unit Availability</title>
</head>
<body>
	<table>
		<tr>
			<td>
				<h1 style="display: inline; text-align: left;">Apartment Unit Availablility</h1>
				<input type="button" value="Login" style="float: right">
			</td>
		</tr>
	</table>

	<div class="container">
	{% block entire_pane %}	

		<div class="pane">
		{% block floorplan %}
			<!-- Default is to show all floorplans.<br> -->

			{% for floorplan in floorplans %}
			
			<a href="{{url_for('showFloorplan',floorplan_id=floorplan.id)}}">
			<div class="floorplan">
				<strong>{{floorplan.name}}</strong><br>
				<p>{{floorplan.bedrooms}} BR / {{floorplan.bathrooms}} BA
				{{floorplan.square_footage}} SF</p>
			</div>
			</a>
			{% endfor %}

		{% endblock %}
		</div>
		
		<div class="pane">
			<!-- Default is to show all units.<br> -->
			
			{% for unit in units %}
			<a href="{{url_for('showUnit',floorplan_id=unit.floorplan.id, unit_id=unit.id)}}">
			<div class="unit">
				<strong>{{unit.name}}</strong><br>
				{{unit.floorplan.name}}<br>
				{{unit.floorplan.bedrooms}} BR / {{unit.floorplan.bathrooms}} BA
				{{unit.floorplan.square_footage}} SF

			</div>
			</a>
			{% endfor %}

		</div>

	{% endblock %}
	</div>

</body>