<!DOCTYPE html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>Apartment Inventory</title>
</head>
<body>
	<h1>Apartment Inventory</h1>

	<div class="container">
	{% block entire_pane %}	

		<div class="pane">
		{% block floorplan %}
			<!-- Default is to show all floorplans.<br> -->

			{% for floorplan in floorplans %}
			<div>{{floorplan.name}}</div>
			{% endfor %}

		{% endblock %}
		</div>
		
		<div class="pane">
		{% block unit %}
			<!-- Default is to show all units.<br> -->
			
			{% for unit in units %}
			<div>{{unit.name}}</div>
			{% endfor %}

		{% endblock %}
		</div>

	{% endblock %}
	</div>

</body>