<!DOCTYPE html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>Apartment Inventory</title>
</head>
<body>
	<h1>Apartment Inventory</h1>

	<div class="container">
	{% block entire_pane %}	

		<div class="pane">
		{% block floorplan %}
		This is where the floorplan template would go.
		{% endblock %}
		</div>
		
		<div class="pane">
		{% block unit %}
		This is where the unit template would go.
		{% endblock %}
		</div>

	{% endblock %}
	</div>

</body>